<ion-header [translucent]="true" >
  <ion-toolbar class="ion-padding fondo-titulo">
    <ion-title>principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding fondo">
<ion-item>
  <ion-input [(ngModel)]="mdl_mail"  placeholder="ingresa tu email"></ion-input>
</ion-item>
<ion-item>
  <ion-input [(ngModel)]="mdl_pass" type="password" placeholder="ingresa tu contraseña"></ion-input>
</ion-item>
<ion-button (click)="crearUsuario()" expand="block" shape="round" class="estilo-botones"> registrase</ion-button>
<img class="img-crear" src="../../../assets/img/fondo.png">
</ion-content>
